*{
  margin: 0;
  padding: 0;
}
body{
  background:#f1f1f1;
}
/*HEADER*/
#header{
  height: 100px;
  width: 100%;
  background: #f1f1f1;
}
#header ul{
  list-style: none;
  float: right;
  margin-right: 10%;
  margin-top: 30px;
}
#header li{
  float: left;
  margin-right: 20px;
}
#header a.selecionado{
  color: #f15f31;
  padding-bottom: 10px;
  border-bottom: 2px solid #f15f31;
}
#header img{
  margin: 20px 10%;
}
#header a{
  text-decoration: none;
  font-size: 20px;
  font-family: fantasy;
  color: #1b1b1b;
}
#header a:hover{
  color: #f15f31;
}
/*BANNER*/
#banner{
  background: #f15f31;
  height: 250px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
}
#banner h1 , h2{
  color: #f1f1f1;
  padding-top: 20px;
  font-family: arial;
}
#banner form{
  margin-top: 20px;
}
#banner input{
  width: 50%;
  padding: 15px 10px;
  border-radius: 5px 0 0 5px;
  background: #f1f1f1;
  border: 1px solid white;
  color: #ffffff;
  border: none;
}
#banner button{
  padding: 15px 50px;
  border:none;
  border-radius: 0 5px 5px 0;
  background: #222222;
  color: #f1f1f1;
}
#banner button:hover{
  cursor: pointer;
  background: #000000;
}
#servicos{
  background: #f1f1f1;
  width: 90%;
  margin: 0 auto;
}
.servi{
  border-radius: 20px;
  text-align: center;
  width: 30%;
  float: left;
  margin: 0px 20px;
  background: #fff;
  margin-bottom: 20px;
}
.servi h2,p{
  color: #333333;
}
.servi p{
  padding: 0 10px 10px 10px;
}
.servi img{
  margin-top: 20px;
  border-radius: 50%;
}
#rodape{
  height: 70px;
  width: 100%;
  background: #f15f31;
}
#rodape p{
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #f1f1f1;
}
