//--site 01--
body{
    background-color: #f5f5f5;
    font-family: Arial;
    margin: 0;
}
div#header{
    width: 800px;
    height: 140px;
    margin: 0 auto;
}
div#header h1{
    margin-top: 30px;
    display: block;
    float: left;
}
ul#nav{
    list-style: none;
    padding-left: 0;
    display: block;
    float: left;
    margin-left: 130px;
    margin-top: 80px;
}
ul#nav li{
    float: left;
    margin-left: 50px;
}
ul#nav a{
    text-decoration: none;
    color: #231f20;
    padding-top: 8px;
}
ul#nav a:hover{
    border-top: 5px solid #7fa7f1;
}
ul#nav a.atual{
    border-top: 5px solid #40557b;
}
div#banner{
    width: 800px;
    height: 237px;
    margin: 0 auto;
    background: url('../img/banner-800x237.png') no-repeat;
    position: relative;
}
div#banner a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #40557b;
    border-radius: 15px;
    padding: 10px 20px;
    color: #7fa7f1;
    position: absolute;
    top: 168px;
    left: 650px;
}
div#banner a img{
    border: none;
}
div#section{
    width: 800px;
    margin: 20px auto 30px auto;
}
div.article{
    width: 250px;
    float: left;
    margin: 0 8px;
}
div.article a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    background-color: #40557b;
    padding: 10px 15px;
    border-radius: 15px;
    color: #7fa7f1;
    font-weight: bold;
    
}
div.article h1{
    font-weight: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
div.article p{
    color: #4d4d4d;
    text-align: justify;
}
div#footer{
    background-color: #7fa7f1;
    width: 770px;
    height: 20px;
    margin: 0 auto 5px auto;
    padding: 15px;
    border-radius: 15px;
}
div#footer p{
    text-align: right;
    margin: 0;
    color: #40557b;
    font-weight: bold;
}